.projects-display {
    color: var(--primary-text-color);

    padding: 90px 2rem 2rem 2rem;

    .heading {
        margin-bottom: 40px;
    }

    .heading.hidden {
        opacity: 0;
        transform: translateX(-40%);
        filter: blur(40px);

        transition-property: all;
        transition-duration: 1s;
    }

    .heading.show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }

    .tech-used-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;


        .tech-box {
            display: flex;
        }
    }
}