@import "tailwindcss";

:root {
  --background: #000319;
  --text: #e7e5e4;
  --primary: #3b82f6;
}

/* override variables here for dark theme */
:root.dark {}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-roboto), system-ui, sans-serif;
}