.contact-section {
    color: var(--primary-text-color);

    padding: 90px 2rem 90px 2rem;

    .heading {
        margin-bottom: 40px;
    }

    .heading.hidden {
        opacity: 0;
        transform: translateX(-40%);
        filter: blur(40px);

        transition-property: all;
        transition-duration: 1s;
    }

    .heading.show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }

    .contacts-container {
        display: flex;
        column-gap: 40px;
        row-gap: 20px;
        justify-content: center;
        flex-wrap: wrap;


        .contact-container {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
        }
    }
}