.navbar {
    .navbar-container {
        .navbar-link-desktop {
            color: var(--light-shaded-text);
            margin-right: 15px;

            transition-property: transform;
            transition-duration: 200ms;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}