.footer {
    background-color: #737373;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-block: 15px;

    color: var(--primary-text-color);

    @media (max-width: 600px) {
        flex-direction: column;
    }
}