@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: "Cubano";
  src: url("../public/fonts/Cubano.ttf");
}

:root {
  // --primary-bg: rgb(18 24 27);
  --primary-bg: #131316;
  --primary-text-color: white;
  --light-shaded-text: #60a5fa;

  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: var(--primary-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poppins-font {
  font-family: 'Poppins', sans-serif !important;
}


.App {
  overflow-x: hidden;
}


.link-style-reset {
  text-decoration: none;
  color: inherit;
}



/* mern logo animation */
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 6s linear infinite both;
  animation: rotate-vert-center 6s linear infinite both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}



/* button animation */
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.5s linear both;
  animation: rotate-scale-up 0.5s linear both;
}


@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}